{% extends 'styled_base.html' %}

{% block body %}
<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Browse Resources</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
      <div class="row">
        {% for each in myresult %}

        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
                <a class="portfolio-link" href="/tiles/{{each[0]}}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="static/assets/img/portfolio/01-thumbnail.jpg" alt="" />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">{{each[1]}}</div>
                    <div class="portfolio-caption-subheading text-muted">Illustration</div>
                </div>
            </div>
        </div>

        {% endfor %}
      </div>
      </div>
    </section>

    <section class="page-section" id="services">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/input">Add a new article</a>


          </div>

          
        </div>


      </div>

    </section>


         

  <!-- {% for each in myresult %}
    <div class="col">
      <div class="card">
        <img src="https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{each[1]}}</h5>
          <a href="/tiles/{{each[0]}}" class="btn btn-primary">Visit</a>
        </div>
      </div>
      {% endfor %} 
    </div> -->

   <!-- <div class="col">
      <div class="card h-100 ">
        <img src="https://images.theconversation.com/files/191827/original/file-20171025-25516-g7rtyl.jpg?ixlib=rb-1.1.0&rect=0%2C70%2C7875%2C5667&q=45&auto=format&w=926&fit=clip" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <a href="https://google.com" class="btn btn-primary">Button</a>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100  ">
        <img src="https://miro.medium.com/max/875/1*L76A5gL6176UbMgn7q4Ybg.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Math</h5>
          <a href="https://google.com" class="btn btn-primary">Button</a>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 ">
        <img src="https://res.cloudinary.com/grand-canyon-university/image/fetch/w_750,h_564,c_fill,g_faces,q_auto,f_auto/https://www.gcu.edu/sites/default/files/media/images/Blog/engineering-and-technology/chemistry-materials.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chemistry</h5>
          <a href="https://google.com" class="btn btn-primary">Button</a>
          
        </div>
      </div>
    </div>
  </div>
 -->

  <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="/" class="btn btn-outline-dark btn-lg" role="button">Back to Home</a>
    <a href="/input" class="btn btn-outline-dark btn-lg" role="button">Add resource</a>
  </div> 
      
      
  <html> -->

{% endblock body %}